@import url("https://fonts.cdnfonts.com/css/poppins");

* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

header.scrolled {
	background-color: #f3f4e5f7;
	color: #7593C4 !important;
}

.box-shadow {
	box-shadow: 2px 2px 2px #f3f4e5;
}

.desc {
	text-shadow: 2px 2px #ffffff;
}

.text-produk {
	text-shadow: 2px 2px #7593C4;
}
.text-shadow {
	text-shadow: 4px 4px #000000;
}

.promo {
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #f3f4e5;
}

/* Back To Top */
.btnScrollToTop {
	position: fixed;
	display: flex;
	right: 10px;
	bottom: -10%;
	width: 42px;
	height: 42px;
	align-items: center;
	justify-content: center;
	background-color: #7593C4;
	color: white;
	cursor: pointer;
	border: none;
	outline: none;
	opacity: 0;
	transition: all 0.8s ease-in-out;
	box-shadow: 2px 2px #fafafa;
	z-index: 90;
}

.btnScrollToTop.active {
	bottom: 5px;
	pointer-events: auto;
	opacity: 0.9;
}

@keyframes loading {
	0% {
		opacity: 1;
		scale: calc(1.1);
	}
	50% {
		opacity: 0.5;
		scale: calc(1);
	}
	100% {
		opacity: 0.8;
		scale: calc(1.1);
	}
}

.loading {
	animation: loading 2s linear infinite;
}
.hidden-opacity {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
.visible {
	display: block;
}

.logos {
	overflow: hidden;
	padding: 60px 0;
	background: white;
	position: relative;
	width: 120%;
	transform: rotate(-1.6deg);
}

.logos:before,
.logos:after {
	position: absolute;
	top: 0;
	width: 250px;
	height: 100%;
	content: "";
	z-index: 2;
}

.logos:before {
	left: 0;
	background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
	animation-play-state: paused;
}

.logos-slide {
	display: flex;
	animation: slide 35s linear infinite;
}

.logos-slide img {
	height: 50px;
	margin: 0 20px; /* Adjust spacing as needed */
}

@keyframes mengambang-kiri {
  0% {
    transform: translateY(0%) translateX(0%);
  }
  50% {
    transform: translateY(10%) translateX(10%);
  }
  100% {
    transform: translateY(0%) translateX(0%);
  }
}

@keyframes mengambang-kanan {
  0% {
    transform: translateY(0%) translateX(0%);
  }
  50% {
    transform: translateY(10%) translateX(-10%);
  }
  100% {
    transform: translateY(0%) translateX(0%);
  }
}

.panahKiri {
  transition: all 2s;
  animation: mengambang-kiri 2s infinite ease-in-out !important;
}

.panahKanan {
  transition: all 2s;
  animation: mengambang-kanan 2s infinite ease-in-out !important;
}

.tabs {
	padding: 10px;
	background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
	border-radius: 20px;
}
.tabs > h3 {
  background-color: #ffffff;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  font-weight: 600;
	border-radius: 20px;
}
.tab-content {
  padding: 50px 40px;
}
.tab-content > h4 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #000224;
  font-weight: 600;
}
.tab-content > div {
  text-align: justify;
  line-height: 1.9;
  letter-spacing: 0.4px;
  color: #202238;
}
.tab-content > div {
  display: none;
}
.tab-content .active {
  display: block;
}
.tabs .active {
	transition: all .5s;
  background-color: #7593C4;
  color: #ffffff;
}

.tabe {
	padding: 10px;
	background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
	border-radius: 20px;
}
.tabe > h3 {
  background-color: #ffffff;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  font-weight: 600;
	border-radius: 20px;
}
.tab-contents {
  padding: 50px 40px;
}
.tab-contents > h4 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #000224;
  font-weight: 600;
}
.tab-contents > div {
  text-align: justify;
  line-height: 1.9;
  letter-spacing: 0.4px;
  color: #202238;
}
.tab-contents > div {
  display: none;
}
.tab-contents .activet {
  display: block;
}
.tabe .activet {
	transition: all .5s;
  background-color: #7593C4;
  color: #ffffff;
}

.swiper-pagination-bullet-active {
	background: #f3f4e5;
}

.animate-bouncy {
animation: mengambang-1 6s infinite ease-in !important;
}

.animate-bouncy2 {
animation: mengambang-2 6s infinite ease-in !important;
}

.animate-spin {
animation: spin 3s infinite ease-in !important;
}

.animate-spin2 {
animation: spin2 10s infinite ease-in !important;
}

@keyframes mengambang-1 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(2%);
  }
  75% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes mengambang-2 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(2%);
  }
  75% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Media query untuk perangkat kecil */
@media screen and (max-width: 400px) {
	@keyframes slide {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-330%);
		}
	}
}
/* Media query untuk perangkat kecil */
@media screen and (min-width: 400px) and (max-width: 600px) {
	@keyframes slide {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-230%);
		}
	}
}

/* Media query untuk perangkat medium */
@media screen and (min-width: 601px) and (max-width: 1200px) {
	@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150%);
  }
}
}

/* Media query untuk perangkat besar */
@media screen and (min-width: 1201px) {
	@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-90%);
  }
}
}
