@import url("https://fonts.cdnfonts.com/css/poppins");

* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

header.scrolled {
	background-color: #f3f4e5f7;
	color: #d22e2e !important;
}

.box-shadow {
	box-shadow: 2px 2px 2px #f3f4e5;
}

.promo {
  -webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #f3f4e5;
}
